.venv
venv
.env
env
.idea
idea

# echo "# lojapaty02" >> README.md
  #git init
  #git add README.md
  #git commit -m "first commit"
  #git branch -M main
  #git remote add origin https://github.com/Aleleonel/lojapaty02.git
  #git push -u origin main